name: Link Check

on:
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 3 * * 1'
  workflow_dispatch: {}

jobs:
  linkcheck:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - name: Install
        run: |
          python -m pip install -U pip
          pip install --progress-bar off ".[docs]"
      - name: HTML build (internal links)
        run: |
          sphinx-build -b html -W --keep-going docs/source docs/build/html
      - name: Linkcheck (external links)
        run: |
          sphinx-build -b linkcheck docs/source docs/build/linkcheck
